// NOTE: overwriting wp defaults
@media screen and (max-width: 600px) {
  // stylelint-disable-next-line selector-max-id
  #wpadminbar {
    position: fixed;
  }
}

[is='flynt-navigation-burger'] {
  height: 20vw;

  @media (min-width: $breakpoint-tablet) {
    height: 10vw;
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .container {
    align-items: center;
    background-color: $color-background;
    border-bottom: 1px solid $color-border;
    display: flex;
    flex-direction: row-reverse;
    height: calc(20vw + 2px);
    justify-content: space-between;
    left: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    @media (min-width: $breakpoint-tablet) {
      height: calc(10vw + 2px);
    }

    .admin-bar & {
      top: 46px;

      @media (min-width: 783px) {
        top: 32px;
      }
    }
  }

  @import 'Partials/logo';
  @import 'Partials/hamburger';
  @import 'Partials/menu';
}
