[is='flynt-block-wysiwyg'] {
  margin: 10vw 20vw;

  @media (max-width: $breakpoint-tablet-horizontal) {
    margin: calc(10vw +  2px) 10vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    margin: 0;
  }

  .preContent {
    align-content: center;
    align-items: center;
    background-color: $color-background;
    border-bottom: 0 solid $color-border;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    display: flex;
    height: calc(5vw - 1px);
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: $container-padding-mobile;
    width: 20vw;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 10vw;
      margin-bottom: 0;
      width: 50vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      border: 0;
      border-top: 1px solid $color-border;
      height: 20vw;
      margin-bottom: 0;
      width: 60vw;
    }

    h2 {
      text-transform: uppercase;
    }
  }

  .content {
    @include reset-content-margins;
    background-color: $color-background;
    border: 1px solid $color-border;
    text-align: inherit;
    width: calc(50vw + 1px);

    @media (max-width: $breakpoint-tablet-horizontal) {
      margin-bottom: 10vw;
      width: calc(60vw + 1px);
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      margin-bottom: 20vw;
      width: 100vw;
    }

    &--textLeft {
      text-align: left;
    }

    &--textCenter {
      text-align: center;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
