[is='flynt-block-wysiwyg'] {
  margin: 10vw 20vw;

  @media (max-width: $breakpoint-tablet-horizontal) {
    margin: 10vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    margin: 0;
  }

  .preContent {
    align-content: center;
    align-items: center;
    background-color: $color-background;
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    display: flex;
    height: 5vw;
    justify-content: flex-start;
    margin-bottom: 5vw;
    margin-left: 0;
    padding-left: $container-padding-mobile;
    width: 20vw;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 10vw;
      margin-bottom: 0;
      width: 40vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      height: 20vw;
      margin-bottom: 0;
      width: 60vw;
    }

    h3 {
      text-transform: uppercase;
    }
  }

  .content {
    @include reset-content-margins;
    background-color: $color-background;
    border: 1px solid $color-border;
    text-align: inherit;

    &--textLeft {
      text-align: left;
    }

    &--textCenter {
      text-align: center;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
