[is='flynt-block-listing-models'] {
  @media (max-width: $breakpoint-tablet-horizontal) {
    margin: 0 10vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    margin: 0 20vw;
  }
  
  .preContent {
    display: flex;
    width: 100%;
  }

  .grid {
    @include reset-list;
    column-gap: 10vw;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 10vw);
    height: 100%;
    row-gap: 5vw;

    @media (max-width: $breakpoint-tablet-horizontal) {
      column-gap: 20vw;
      grid-template-columns: repeat(2, 30vw);
      row-gap: 10vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      column-gap: 20vw;
      grid-template-columns: 1fr;
      row-gap: 20vw;
    }

    &-item {
      width: 100%;
  
      .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;

        &-inner {
          align-items: center;
          background-color: $color-background;
          border-left: 1px solid $color-text;
          border-top: 1px solid $color-text;
          display: flex;
          flex-flow: row wrap;
          height: 5vw;
          justify-content: flex-start;
          text-decoration: none;
          transition: all 0.2s linear;

          &:hover {
            opacity: 0.5;
          }

          @media (max-width: $breakpoint-tablet-horizontal) {
            background-color: $color-background;
            height: 10vw;
            width: 30vw;
          }

          @media (max-width: $breakpoint-mobile-horizontal) {
            background-color: $color-background;
            height: 20vw;
            width: 60vw;
          }

          .content-title {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
          }
        }

        &-image {
          border-bottom: 1px solid $black;
          border-left: 1px solid $black;
          border-right: 0;
          border-top: 1px solid $black;
          height: calc(15vw + 1px);
          object-fit: cover;
          transition: all 0.2s linear;

          @media (max-width: $breakpoint-tablet-horizontal) {
            height: 40vw;
          }

          @media (max-width: $breakpoint-mobile-horizontal) {
            height: 80vw;
          }
        }
  
        // &-footer {
        //   display: block;
        //   margin: 0;
  
        //   &-inner {
        //     padding-left: $container-padding-mobile;
        //     padding-right: $container-padding-mobile;
        //     padding-top: $container-padding-mobile;
        //   }
        // }
      }
    }
  }

  
}
