<div class="flyntComponent" is="flynt-block-landing-animation">
  <div class="container">
    <div class="logotype">
        Sable<br>
        Models
      </div>
    <svg class="blob" xmlns="http://www.w3.org/2000/svg"
         width="6.3in" height="6.3in"
         viewBox="0 0 1400 1400">
        <path id="blob"
            fill="none" stroke="black" stroke-width="2.4">
            <animate  repeatCount="indefinite" attributeName="d" dur="5s"
            values="           
                M 490.43 527.17 C 460.77 548.92 456.82 583.59 453.43 640.17 C 450.11 695.57 454.02 708.17 437.84 769.67 C 420.44 835.81 395.53 877.81 413.53 924.31 C 431.95 971.89 484.27 1031.64 560.77 968.64 C 637.27 905.64 649.26 866.64 706.26 857.64 C 763.26 848.64 831.26 895.64 895.75 901.64 C 960.24 907.64 1027.24 895.14 1069.24 838.14 C 1111.24 781.14 1124.01 718.3 1085.24 637.14 C 1067.7 600.43 1046.75 528.65 1003.24 492.65 C 963.18 459.5 921.74 443.65 863.24 472.15 C 804.74 500.65 750.31 540.7 676.82 534.7 C 603.33 528.7 520.52 505.11 490.43 527.17 Z
                    
                M 472.06 490.44 C 434.06 520.37 416.64 551.49 416.64 618.33 C 416.64 685.17 403.87 705 384 776.33 C 360.58 860.4 360.7 920.57 390 972.33 C 420 1025.33 493.89 1059.43 560.76 1017.16 C 638 968.33 653.3 908.5 716.76 897.66 C 780.22 886.82 843.65 933.11 915.45 940.33 C 987.25 947.55 1056.99 924.33 1103.73 855.66 C 1150.47 786.99 1171 729.75 1123.73 632.18 C 1087.57 557.52 1077.73 509.27 1039.6 472.63 C 999.82 434.41 980.01 414.33 895.24 428.18 C 822.47 440.08 785.95 496.37 702.17 501.08 C 620.15 505.69 514 457.39 472.06 490.44 Z
                  
                M 460.6 432.34 C 394.6 472.84 371.44 543.34 363.11 616.83 C 354.11 695.83 338.51 701.83 315.59 768.33 C 288 848.33 304.82 960.33 351 1015.33 C 396 1068.92 490 1116.33 574.1 1070.33 C 663.1 1021.61 665 974.33 739.59 965.84 C 813.13 957.45 855.32 978.36 937.38 986.96 C 1019.44 995.56 1077.38 964.96 1138.57 889.84 C 1194.79 820.84 1218.72 703.36 1168.79 612.93 C 1125.72 534.93 1106.79 485.71 1070.29 435.93 C 1033.21 385.29 979.34 350.13 887.99 374.05 C 806.25 395.46 782.86 437.29 687.09 442.89 C 593.37 448.33 528.11 390.92 460.6 432.34 Z
                    
                M 449 374.33 C 371 417.21 325.79 518.08 308.86 602.86 C 291 692.32 269.56 704.61 243.39 782.33 C 211.9 875.86 249.53 979.04 302.24 1043.33 C 353.62 1105.98 459 1177.33 569 1133.33 C 677.2 1090.05 685.85 1046.12 771 1036.17 C 855 1026.36 854.84 1042.97 949 1039.94 C 1054.59 1036.53 1118.26 1015.27 1188.59 928.83 C 1258.92 842.39 1277.52 722.7 1222.99 609.33 C 1178.58 517 1153.44 471.56 1111.8 413.33 C 1069.48 354.12 990.27 286 886 314 C 792.68 339 786 371.34 672 378.34 C 565 384.9 529 330.33 449 374.33 Z
                    
                M 423.11 318.35 C 327.92 355.89 295.27 450.41 265.63 550.94 C 234.9 655.19 199.11 700.3 169.21 791.54 C 133.21 901.33 190.38 1013.44 250.62 1088.91 C 309.32 1162.46 415.62 1227.31 549.84 1200.01 C 679.71 1173.59 687.77 1121.59 784.32 1104.83 C 876.08 1088.91 876.48 1103.38 984.08 1099.83 C 1104.73 1095.83 1163.2 1072.31 1243.57 970.83 C 1323.94 869.35 1339.57 713.83 1266.74 586.36 C 1207.38 482.45 1183.57 448.86 1144.57 366.36 C 1108.39 289.8 1022.63 208.94 903.48 241.77 C 796.86 271.16 803.35 291.32 673.09 299.54 C 550.84 307.22 529.6 276.35 423.11 318.35 Z
                    
                              
                ;
                                      

                M 575.19 337.22 C 520.19 337.22 493.46 362.01 435.52 394.28 C 382.7 423.7 350.46 453.15 347.94 522 C 345.63 585 384.56 606.39 428 635 C 469 662 492.56 677.47 504.14 779 C 516 883 582.06 898 641.84 895.12 C 701.94 892.18 767.43 882.74 831.92 888.74 C 896.41 894.74 978 907 1041 876 C 1095.21 849.33 1110.9 769.51 1087 716 C 1065.65 668.19 1050.57 626.73 1003 593 C 948 554 899.88 536.33 860 515 C 809.89 488.2 791.23 478.9 737.29 438.7 C 680 396 630 337.22 575.19 337.22 Z
                    
                M 571.6 304.08 C 501 304.08 460.6 341.26 403.6 372.08 C 344.17 404.26 319.33 443.97 319.6 511.57 C 319.9 582.07 332 609 394.33 645 C 459.18 682.45 469 733 474.85 803.07 C 483.13 902.07 586.59 933 629 933 C 674 933 768.14 914.07 840.23 920.78 C 912.32 927.49 1028 939 1073.92 906.54 C 1121 873.27 1144 793 1132.33 746.33 C 1124.23 713.92 1105.11 649.73 1062.73 603.06 C 1020 556 943.35 520.08 898.58 496.6 C 809.39 449.81 821.58 462.08 756.09 414.11 C 674.18 354.09 650 304.08 571.6 304.08 Z
                    
                M 620 250 C 548 229 474 289 385 314 C 311.69 334.59 281.48 389.17 278.37 482 C 275.53 566.91 287.53 611.63 335 658 C 379 701 414 717 434 816 C 456.86 929.15 572.37 992.78 619 990.12 C 674.91 986.92 772.18 967.29 851.55 975.38 C 930.92 983.47 1039.18 994.79 1105 954 C 1160.38 919.68 1191.88 839 1180 770 C 1173.18 730.39 1155 664 1104 591 C 1050.09 513.84 991.09 495.65 942 467 C 885.56 434.06 851.71 412.44 787 369 C 724.38 327 691.74 270.92 620 250 Z
                    
                M 635 193 C 552.19 168.85 456 245.62 347.84 267 C 261.93 284 228.57 350.26 225 457 C 221.73 554.66 231.36 604.07 271 670 C 307.46 730.64 353.59 732.65 385.2 844.43 C 421 971 544.25 1044.61 598 1044.69 C 663 1044.77 775.76 1029.69 867 1039 C 958.24 1048.31 1072.3 1041.92 1148 995 C 1211.69 955.52 1232.1 863.06 1227 787 C 1223.91 740.88 1208.91 673.22 1155.79 585.65 C 1102 497 1063 465 1002 437 C 933.69 405.65 904.42 379 830 329 C 758 280.65 717.51 217.06 635 193 Z
                    
                M 671 130 C 575.36 102.11 448.91 186.31 324 211 C 224.78 230.61 172.12 300.72 168 424 C 164.23 536.79 172.21 654.85 218 731 C 260.11 801 298 814 353 933 C 416.73 1070.9 480.88 1120.36 562 1120.61 C 642 1120.85 790.58 1107.26 896 1118 C 1001.42 1128.74 1088.57 1106.19 1176 1052 C 1249.56 1006.41 1293.89 893.85 1288 806 C 1284.43 752.73 1283 678 1227.69 572.71 C 1172 466.69 1143.45 434.34 1073 402 C 994.11 365.79 959 336.71 873 279 C 789.82 223.15 766.29 157.79 671 130 Z
                          
                
                ;
                    
                       
                M 482 529 C 451.84 536.67 394.91 563.15 377 616.94 C 359 670.94 363.35 699.67 436.69 745 C 514.55 793.14 526.8 821.06 552.69 863.67 C 594.59 932.67 582.79 1026.25 636.12 1099.58 C 669.64 1145.67 724.94 1120.67 766.69 1067 C 810 1011.33 836 955 915.33 934.33 C 978 918 1021.57 908.51 1066 867.67 C 1107.33 829.67 1110.29 772.92 1078 689.34 C 1062.68 649.69 1030 592.34 982 549 C 943.4 514.15 902 471.61 838.67 486.56 C 772.11 502.28 742 505.67 661.34 517 C 588.31 527.26 558 509.67 482 529 Z
                    
                M 468.52 498.1 C 434 506.88 368.07 547 342.5 615 C 319.05 677.38 328.9 716.75 414.5 772.59 C 506.5 832.59 518.5 875.59 542.98 935 C 577.98 1020 561.92 1062.54 622.98 1146.5 C 661.35 1199.26 710.98 1174.5 767.48 1121 C 834.08 1058 823.98 1011 915.98 978 C 985.78 953 1035.29 963 1082.98 913 C 1133.06 860.5 1151.98 788.5 1113.42 695.81 C 1088.25 635.31 1072.91 607.46 1032.98 557.5 C 994.37 509.18 960.08 462.59 898.45 448.08 C 836.45 433.5 775.34 470.51 682.98 483.48 C 599.4 495.23 555.53 476 468.52 498.1 Z
                    
                M 452 451.61 C 413 461.53 339.94 520.52 308 586.61 C 275.23 654.44 258.4 727 355.21 790.13 C 459.21 857.97 468.15 899.35 501.51 966.13 C 548.01 1059.13 526.33 1100.86 598.27 1193.59 C 665.01 1279.59 725.57 1233.59 789.5 1173.12 C 864.8 1101.82 855 1064.89 959 1027.58 C 1037.93 999.27 1085 1009.58 1135.36 927.63 C 1179.59 855.63 1194.49 772.63 1153.99 673.63 C 1122.61 596.92 1084.08 559.28 1032.5 495.14 C 995.62 449.29 958.98 372.14 864.5 393.14 C 775.36 412.93 760.43 423.47 656.01 438.14 C 561.48 451.38 550.4 426.58 452 451.61 Z
                    
                M 427.34 408.34 C 371.34 431.67 298.45 483.54 261.72 559.53 C 224.02 637.53 194.05 712.85 294.67 799.67 C 403.53 893.6 420.3 926.94 458.67 1003.67 C 512.14 1110.6 492.67 1146.34 564 1244.33 C 637.67 1345.55 726.67 1318.33 798.75 1234.78 C 876.62 1144.51 878.38 1129.24 998 1086.33 C 1088.76 1053.78 1142.4 1054.33 1186.67 953 C 1227.14 860.34 1236.27 761.64 1191.33 646.34 C 1156 555.67 1114.33 533.96 1074.67 456.34 C 1042.67 393.67 983.31 302.22 874.67 326.34 C 772.18 349.09 763.41 367.47 643.34 384.34 C 534.64 399.6 482.44 385.38 427.34 408.34 Z
                    
                M 390.91 355 C 326.66 381.77 252 444.7 200.91 528.44 C 149.15 613.3 123.28 709.33 238.71 808.93 C 363.6 916.73 372 953 416 1041 C 477.34 1163.67 440.17 1184.58 522 1297 C 606.52 1413.11 734.29 1399 817 1303.12 C 906.33 1199.57 916.79 1198.22 1054 1149 C 1158.12 1111.66 1208 1069 1256 951 C 1300.29 842.1 1309.55 759.28 1258 627 C 1217.47 523 1174.38 501.36 1133.52 410.1 C 1099.89 335 1056 242.9 926 247 C 805.62 250.79 773.75 297.65 636 317 C 511.3 334.52 454.12 328.7 390.91 355 Z
                  
                      
                ;
                    
                       
                M 553.34 505 C 506.09 514.67 468.67 542.34 446.56 602 C 428.19 651.61 430.16 683 436.67 737 C 444.85 804.9 477.11 858.13 514 891.67 C 558 931.67 582 940.05 636 938.34 C 698.48 936.34 720.91 895.43 775 875.34 C 845 849.34 913.26 878.78 973 884.34 C 1037.5 890.34 1091.28 893.91 1102 828.57 C 1114 755.34 1027.16 692.23 1068.59 609.21 C 1108.42 529.37 1173 413.33 1116 373.33 C 1058.79 333.18 970 401.33 917 445.33 C 866.93 486.89 819.26 530.24 745.77 524.24 C 672.28 518.24 612 493 553.34 505 Z
                    
                M 526.67 471 C 472.95 482.76 408.67 539.45 394.67 615 C 383.33 676 384.57 716.94 405.33 779.66 C 432 860.33 459.05 907.41 506 942.33 C 564.66 985.96 592.7 996.33 652.94 984.33 C 722.66 970.33 733.5 930.33 795.33 906.69 C 868.66 878.69 922.78 911.16 990.33 921.02 C 1068 932.36 1136.18 910.48 1140.08 830.48 C 1145.08 728.57 1073 693.36 1114.17 589.82 C 1153.76 490.24 1233 405.33 1162 349.33 C 1090.24 292.72 972.27 351.82 912 405.33 C 855.07 455.87 810.56 487.62 727 480.33 C 643.44 473.04 593.38 456.4 526.67 471 Z
                    
                M 507 423.33 C 443.83 440.7 371.94 492.33 345.94 575.33 C 323.12 648.18 326.3 712.09 351 789.33 C 382.77 888.68 423.14 943.5 477 989 C 539 1041.35 569.19 1057.68 642 1050.35 C 726.55 1041.82 742.66 977 819 956.35 C 904 933.35 925.65 955.2 1006 967.35 C 1098.39 981.35 1190.5 933.35 1190.5 826.35 C 1190.5 724.35 1119.01 674.78 1188.09 556.92 C 1257 439.35 1287.78 366.92 1203.32 297.92 C 1118 228.18 1005 278.35 926 335.33 C 847 392.31 836 418.33 733 421.33 C 633.23 424.24 587 401.33 507 423.33 Z
                    
                M 474 373.33 C 401.29 394.01 317.93 452.53 288 551.33 C 261.74 638.04 266.57 707.33 295 799.33 C 331.56 917.59 372.59 966.42 432 1023.33 C 501 1089.33 549.15 1114.06 633 1105.33 C 730.32 1095.18 767.87 1036.81 835.87 1016.81 C 906.87 995.93 947.8 1012.02 1041.21 1018.2 C 1149 1025.33 1254.48 987.69 1254.48 860.33 C 1254.48 738.91 1180.48 704.62 1260 564.33 C 1339.32 424.33 1351.69 331.43 1254.48 249.33 C 1156.23 166.33 1057.36 186.74 960.87 246.33 C 858.87 309.33 841.18 349.96 721.13 359.75 C 606.62 369.1 566.08 347.14 474 373.33 Z
                    
                M 432 326.31 C 348.43 350.51 259.67 407.25 225.27 522.85 C 195.08 624.31 189.81 699.71 222.49 807.32 C 264.49 945.71 321.13 1008.99 389.49 1075.57 C 468.75 1152.8 528.07 1173.43 624.49 1164.31 C 735.49 1153.81 776.8 1090.9 854.95 1067.5 C 936.54 1043.07 1004.61 1076.08 1111.95 1083.31 C 1235.84 1091.65 1335.44 1051.99 1345.95 900.31 C 1355.76 758.58 1247.89 733.76 1341.45 570.84 C 1428.45 419.34 1396.26 273.7 1303.37 186.9 C 1211.87 101.41 1077.37 92.62 966.47 162.35 C 849.26 236.07 847.82 295.59 709.85 307.05 C 578.24 318 537.87 295.67 432 326.31 Z
                    
                              
                ;
                    
                             
                M 490.43 527.17 C 460.77 548.92 456.82 583.59 453.43 640.17 C 450.11 695.57 454.02 708.17 437.84 769.67 C 420.44 835.81 395.53 877.81 413.53 924.31 C 431.95 971.89 484.27 1031.64 560.77 968.64 C 637.27 905.64 649.26 866.64 706.26 857.64 C 763.26 848.64 831.26 895.64 895.75 901.64 C 960.24 907.64 1027.24 895.14 1069.24 838.14 C 1111.24 781.14 1124.01 718.3 1085.24 637.14 C 1067.7 600.43 1046.75 528.65 1003.24 492.65 C 963.18 459.5 921.74 443.65 863.24 472.15 C 804.74 500.65 750.31 540.7 676.82 534.7 C 603.33 528.7 520.52 505.11 490.43 527.17 Z
                    
                M 472.06 490.44 C 434.06 520.37 416.64 551.49 416.64 618.33 C 416.64 685.17 403.87 705 384 776.33 C 360.58 860.4 360.7 920.57 390 972.33 C 420 1025.33 493.89 1059.43 560.76 1017.16 C 638 968.33 653.3 908.5 716.76 897.66 C 780.22 886.82 843.65 933.11 915.45 940.33 C 987.25 947.55 1056.99 924.33 1103.73 855.66 C 1150.47 786.99 1171 729.75 1123.73 632.18 C 1087.57 557.52 1077.73 509.27 1039.6 472.63 C 999.82 434.41 980.01 414.33 895.24 428.18 C 822.47 440.08 785.95 496.37 702.17 501.08 C 620.15 505.69 514 457.39 472.06 490.44 Z
                  
                M 460.6 432.34 C 394.6 472.84 371.44 543.34 363.11 616.83 C 354.11 695.83 338.51 701.83 315.59 768.33 C 288 848.33 304.82 960.33 351 1015.33 C 396 1068.92 490 1116.33 574.1 1070.33 C 663.1 1021.61 665 974.33 739.59 965.84 C 813.13 957.45 855.32 978.36 937.38 986.96 C 1019.44 995.56 1077.38 964.96 1138.57 889.84 C 1194.79 820.84 1218.72 703.36 1168.79 612.93 C 1125.72 534.93 1106.79 485.71 1070.29 435.93 C 1033.21 385.29 979.34 350.13 887.99 374.05 C 806.25 395.46 782.86 437.29 687.09 442.89 C 593.37 448.33 528.11 390.92 460.6 432.34 Z
                    
                M 449 374.33 C 371 417.21 325.79 518.08 308.86 602.86 C 291 692.32 269.56 704.61 243.39 782.33 C 211.9 875.86 249.53 979.04 302.24 1043.33 C 353.62 1105.98 459 1177.33 569 1133.33 C 677.2 1090.05 685.85 1046.12 771 1036.17 C 855 1026.36 854.84 1042.97 949 1039.94 C 1054.59 1036.53 1118.26 1015.27 1188.59 928.83 C 1258.92 842.39 1277.52 722.7 1222.99 609.33 C 1178.58 517 1153.44 471.56 1111.8 413.33 C 1069.48 354.12 990.27 286 886 314 C 792.68 339 786 371.34 672 378.34 C 565 384.9 529 330.33 449 374.33 Z
                    
                M 423.11 318.35 C 327.92 355.89 295.27 450.41 265.63 550.94 C 234.9 655.19 199.11 700.3 169.21 791.54 C 133.21 901.33 190.38 1013.44 250.62 1088.91 C 309.32 1162.46 415.62 1227.31 549.84 1200.01 C 679.71 1173.59 687.77 1121.59 784.32 1104.83 C 876.08 1088.91 876.48 1103.38 984.08 1099.83 C 1104.73 1095.83 1163.2 1072.31 1243.57 970.83 C 1323.94 869.35 1339.57 713.83 1266.74 586.36 C 1207.38 482.45 1183.57 448.86 1144.57 366.36 C 1108.39 289.8 1022.63 208.94 903.48 241.77 C 796.86 271.16 803.35 291.32 673.09 299.54 C 550.84 307.22 529.6 276.35 423.11 318.35 Z           
                ">
            </animate>            
        </path>
    </svg>
  </div>
  <div class="content">
    {{ contentHtml|e('wp_kses_post') }}
  </div>
</div>
