[is='flynt-block-news-repeater'] {
  margin-bottom: 10vw;

  @media (max-width: $breakpoint-tablet-horizontal) {
    margin-bottom: 10vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    margin-bottom: 20vw;
  }

  .title {
    align-items: center;
    background-color: $color-background;
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    display: flex;
    height: 5vw;
    justify-content: flex-start;
    margin-bottom: 5vw;
    width: 50vw;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 20vw;
      margin-bottom: 0;
      padding-left: $container-padding-mobile;
      width: 80vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      height: 20vw;
      margin-bottom: 0;
      padding-left: $container-padding-mobile;
      width: 100vw;
    }
  }

  .slider {
    background-color: $color-background;
    margin-left: 0;
    margin-right: 20vw;
    position: relative;
    width: 60vw;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 80vw;
      margin-right: 0;
      padding-left: $container-padding-mobile;
      width: 100vw;
    }

    &-item {
      height: 0;
      overflow: hidden;
      padding-bottom: (2/3) * 100%;
      position: relative;
    }

    &-button {
      align-items: center;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease-out;
      width: 40px;
      z-index: 10;

      @media (min-width: $breakpoint-tablet-horizontal) {
        // &:hover,
        // &:focus {
        //   background-color: $color-accent;
        // }
      }

      &.swiper-button-disabled {
        opacity: 0.2;
        pointer-events: none;
      }

      &--prev {
        left: 15px;
      }

      &--next {
        right: 15px;
      }

      .feather {
        color: $color-text;
        height: auto;
        top: 0;
        width: 80%;
      }
    }
  }

  .figure {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    &-image {
      height: 100%;
      margin: 0 auto;
      width: auto;
    }

    &-caption {
      background: rgba($color-background-dark, 0.5);
      bottom: 0;
      color: $color-background-light;
      display: inline-block;
      font-size: 0.8rem;
      max-width: 450px;
      padding: 0.25rem 0.5rem;
      position: absolute;
      right: 0;
    }
  }
}
