<div class="flyntComponent" is="flynt-block-model-gallery-mobile">
  <div class="container">
    <ul class="grid">
      {% for item in items %}
        {% if item.image or item.contentHtml %}
          <li class="grid-item">
              {% if item.image %}
                <img class="content-image lazyload"
                  src="{{ item.image.src|e }}"
                  alt="{{ item.image.alt|e }}">
              {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
