[is='flynt-block-sticker'] {

  height: 10px;
  left: 0;
  position: fixed;
  top: 0;
  width: 10px;
  z-index: 999;

  @media (max-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .figure {
    height: 125px;
    width: 125px;
  }

  .x {
    animation: x 13s linear infinite alternate;
  }

  .y {
    animation: y 7s linear infinite alternate;
    z-index: 10000;
  }

  @keyframes x {
    100% {
      transform: translateX(calc(100vw - 125px));
    }
  }

  @keyframes y {
    100% {
      transform: translateY(calc(100vh - 125px));
    }
  }

}
