[is='flynt-block-post-header'] {
  @media (max-width: $breakpoint-tablet-horizontal) {
    margin: 10vw;
  }

  .content {
    display: grid;
    grid-template-columns: 20vw 1fr;
    
    &-title {
      align-items: center;
      background-color: $color-background;
      border-left: 1px solid $color-border;
      border-top: 1px solid $color-border;
      display: flex;
      height: auto;
      justify-content: flex-start;
      min-height: 10vw;
      padding-left: $container-padding-mobile;
      text-transform: uppercase;
      width: 20vw;
      
      @media (max-width: $breakpoint-mobile-horizontal) {
        height: auto;
        min-height: 20vw;
        width: 40vw;
      }
    }
  }

  .excerpt {
    color: $color-text;
    font-weight: normal;
  }

  .featuredImage {
    margin: 0;
    width: 25vw;
  }
}
