<div class="flyntComponent" is="flynt-block-post-header">
  <div class="container">
    <div class="content">
      <div class="h2 content-title noPadding noMargin">{{ post.title }}</div>
      {# {% if post.thumbnail %}
      <div class="featuredImage">
        {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeLarge' }, noComponentSpacing: true }) }}
      </div>
      {% endif %} #}
      {# {% if post.post_excerpt %}
        <p class="excerpt h3">{{ post.post_excerpt }}</p>
      {% endif %} #}
    </div>
  </div>
</div>
