.logo {
  display: block;
  flex-shrink: 0;
  height: 100%;

  &-image {
    height: auto;
    width: 50vw;
  }
}

.logotype {
  align-items: center;
  color: $black;
  display: flex;
  font-family: 'SandroGrottesco', sans-serif;
  font-size: 20px;
  height: 20vw;
  justify-content: flex-end;
  letter-spacing: 2px;
  line-height: 1.2;
  position: fixed;
  right: $container-padding-mobile;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  width: 40vw;
  z-index: 1001;

  @media (min-width: $breakpoint-mobile-horizontal) {
    height: 10vw;
    width: 50vw;
  }
}
