.logo {
  display: block;
  flex-shrink: 0;
  height: 100%;
  transform: translateX(60px) translateY(-70px);

  &-image {
    height: auto;
    width: 50vw;
  }
}

.logotype {
  align-items: center;
  background-color: $color-background;
  display: flex;
  height: 20vw;
  justify-content: center;
  width: 40vw;
  // transform: translateX(-40px) translateY(-20px);

  @media (max-width: $breakpoint-tablet-horizontal) {
    height: 10vw;
    width: 50vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    background-color: transparent;
    height: 10vw;
    text-align: right;
  }

  h1 {
    align-items: center;
    display: flex;
    font-family: 'SandroGrottesco', Helvetica, Arial, sans-serif;
    height: 100%;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 0;
    text-decoration: underline;
    text-transform: uppercase;
  }
}
