.menu {
  @include reset-list;
  backface-visibility: hidden;
  background-color: $color-background;
  border-right: 1px solid $color-border;
  height: fit-content;
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding-bottom: 0;
  padding-top: 0;
  position: fixed;
  top: 20vw;
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.45s;
  visibility: hidden;
  width: 40vw;
  z-index: 98;

  @media (max-width: $breakpoint-tablet-horizontal) {
    top: 10vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    height: 80vw;
    top: 20vw;
  }

  .admin-bar & {
    top: $navigation-height + 46px;

    @media (min-width: 783px) {
      top: $navigation-height + 32px;
    }
  }

  &-item {
    border-bottom: 1px solid $color-border;
    height: 20vw;

    @media (min-width: $breakpoint-tablet) {
      height: 10vw;
    }

    .menu-link {
      align-items: center;
      color: $color-text;
      display: flex;
      font-size: 1rem;
      font-weight: 700;
      height: 100%;
      justify-content: flex;
      padding-left: $container-padding-mobile;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s ease-out;
  
      &:focus {
        color: $color-accent;
      }
  
      @media (min-width: $breakpoint-tablet) {
        padding-left: $container-padding-tablet;
        padding-right: $container-padding-tablet;
      }
    }
  }

  &-item--current {
    .menu-link {
      color: $color-accent;
    }
  }
}

&.flyntComponent-menuIsOpen .menu {
  transform: translateX(0);
  visibility: visible;
}
