<div is="flynt-form-contact-form-7 centerContainerGrid" class="flyntComponent" style="font-family: 'Roboto', Helvetica, Arial, sans-serif; width: 50vw; margin: 10vw 20vw; border: 1px solid #000;">
  <div class="container">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <div class="form {{ options.card ? 'themeReset boxPadding' }}">
      {% set formShortcode = '[contact-form-7 id="' ~ formId ~ '"]' %}
      {{ formShortcode|shortcodes }}
      {% if contentFooterHtml %}
        <div class="postContent">
          {{ contentFooterHtml|e('wp_kses_post') }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
