[is='flynt-block-model-specs'] {
  width: 20vw;

  @media (max-width: $breakpoint-mobile-horizontal) {
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    width: 100vw;
  }

  .grid {
    @include reset-list;
    background-color: $color-background;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .grid-item {
    max-width: 675px;
    padding: 0 0 0 $container-padding-mobile;
    width: 100%;
  }

  .content {
    height: 100%;

    img {
      background: $color-contrast;
    }

    &-inner {
      @include reset-content-margins;

      &:not(.boxPadding) {
        padding: $gutter-width 0;
      }
    }
  }
}
