[is='flynt-block-model-specs'] {
  width: 20vw;

  @media (max-width: $breakpoint-tablet-horizontal) {
    margin: 0;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    border-bottom: 1px solid $color-border;
    margin-bottom: 0;
    width: 100vw;
  }

  .header {
    align-content: center;
    align-items: center;
    background-color: $color-background;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    display: flex;
    height: 5vw;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: $container-padding-mobile;
    padding-top: 0;
    text-transform: uppercase;
    width: 20vw;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 10vw;
      margin-bottom: 0;
      width: 40vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      height: 20vw;
      margin-bottom: 0;
      width: 80vw;
    }
  }

  .header:nth-child(2) {
    border-bottom: 1px solid $color-border;
  }

  .social-icon {
    display: block;
    height: 3vw;
    max-width: 3vw;
    transition: all 0.2s linear;
    width: auto;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 5vw;
      max-width: 5vw;
    }
  
    @media (max-width: $breakpoint-mobile-horizontal) {
      height: 15vw;
      max-width: 15vw;
    }

    img:hover {
      filter: invert(1);
    }
  }

  .figure {
    margin: 0;
  }

  .grid {
    @include reset-list;
    align-items: flex-start;
    background-color: $color-background;
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    margin: 0;
  }

  @media (max-width: $breakpoint-tablet-horizontal) {
    height: 50vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    height: 100vw;
    justify-content: space-between;
    width: 80vw;
  }

  .grid-item {
    align-items: center;
    display: flex;
    height: 5vw;
    justify-content: flex-start;
    max-width: 100%;
    padding: 0 $container-padding-mobile;
    text-transform: uppercase;
    width: 100%;

    @media (max-width: $breakpoint-mobile-horizontal) {
      height: auto;
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }


  }

  .content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;

    img {
      background: $color-contrast;
    }

    &-inner {
      @include reset-content-margins;

      &:not(.boxPadding) {
        padding: 0;
      }
    }
  }
}
