[is='flynt-block-model-specs'] {
  width: 15vw;

  @media (max-width: $breakpoint-tablet-horizontal) {
    height: 100%;
    margin-bottom: 10vw;
    width: 40vw;
  }

  @media (max-width: $breakpoint-mobile-horizontal) {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 10vw;
    width: 100vw;
  }

  .header {
    align-content: center;
    align-items: center;
    background-color: $color-background;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    display: flex;
    height: calc(5vw + 0px);
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 0;
    text-transform: uppercase;
    width: 20vw;

    @media (max-width: $breakpoint-tablet-horizontal) {
      // border-right: 1px solid $black;
      height: calc(10vw + 0px);
      margin-bottom: 0;
      width: 100%;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      border-right: 1px solid $color-border;
      height: calc(20vw + 0px);
      margin-bottom: 0;
      margin-left: 10vw;
      width: 80vw;
    }
  }

  .header:nth-child(2) {
    border-bottom: 1px solid $color-border;
  }

  .figure {
    margin: 0;
  }

  .container {

    @media (max-width: $breakpoint-tablet-horizontal) {
      border-right: 1px solid $black;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      border-right: 0;
    }
    
  }

  .grid {
    @include reset-list;
    align-items: center;
    background-color: $color-background;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(25vw + 1px);
    justify-content: flex-start;
    margin: 0;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: calc(30vw + 1px);
    }
  
    @media (max-width: $breakpoint-mobile-horizontal) {
      border-right: 1px solid $color-border;
      height: calc(60vw + 1px);
      justify-content: space-between;
      margin-left: 10vw;
      width: 80vw;
    }
  }

  .grid-item {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: auto;
    justify-content: flex-start;
    max-width: 100%;
    padding: 0 $container-padding-mobile;
    text-transform: uppercase;
    width: 100%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: auto;
    }

    &-inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
    }

  }

  .download {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    color: $black;
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover {
      color: $color-accent;
    }

    @media (max-width: $breakpoint-tablet-horizontal) {
      // border-right: 1px solid $black;
    }
  }

  .content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;

    img {
      background: $color-contrast;
    }

    &-inner {
      @include reset-content-margins;

      &:not(.boxPadding) {
        padding: 0;
      }
    }
  }
}
