<div class="flyntComponent" is="flynt-block-model-specs">
  <div class="container">
    <div class="h2 header name">{{ name }}</div>
    <ul class="grid">
      {% for item in items %}
        {% if item.spec and item.details %}
          <li class="grid-item">
            <div class="grid-item-inner">
              <span>{{ item.spec }}</span>
              <span>{{ item.details }}</span>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="{{ downloadPortfolio }}" target="_blank" class="header download">Download Portfolio</a>
  </div>
</div>
