[is='flynt-slider-images'] {
  border-bottom: 0;
  border-left: 0 solid $color-text;
  border-top: 0 solid $color-text;
  width: 50vw;

  @media (max-width: $breakpoint-mobile-horizontal) {
    border-bottom: 0;
    border-left: 0;
    width: 100vw;
  }

  .preContent {
    background-color: $color-background;
    border-bottom: 1px solid $color-text;
    border-left: 1px solid $color-text;
    height: auto;
    margin-top: 0;

    @media (max-width: $breakpoint-tablet-horizontal) {
      width: 60vw;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      width: 100vw;
    }
  }

  .slider {
    background-color: $color-background;
    border: 1px solid $color-border;
    margin-left: 0;
    margin-right: 20vw;
    position: relative;
    width: calc(50vw + 1px);

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 40vw;
      margin-right: 0;
      padding-left: $container-padding-mobile;
      width: calc(60vw + 1px);
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      height: 60vw;
      margin-right: 0;
      padding-left: $container-padding-mobile;
      width: 100vw;
    }

    &-item {
      height: 0;
      overflow: hidden;
      padding-bottom: (2/3) * 100%;
      position: relative;
    }

    &-button {
      align-items: center;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.2s ease-out;
      width: 40px;
      z-index: 10;

      &.swiper-button-disabled {
        opacity: 0.2;
        pointer-events: none;
      }

      &--prev {
        left: -7.5px;
      }

      &--next {
        right: -7.5px;
      }

      .feather {
        color: $color-text;
        height: auto;
        top: 0;
        width: 80%;
      }
    }
  }

  .figure {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    &-image {
      height: 100%;
      margin: 0 auto;
      width: auto;
    }

    &-caption {
      background: rgba($color-background-dark, 0.5);
      bottom: 0;
      color: $color-background-light;
      display: inline-block;
      font-size: 0.8rem;
      max-width: 450px;
      padding: 0.25rem 0.5rem;
      position: absolute;
      right: 0;
    }
  }
}
