[is='flynt-navigation-main'] {
  $navigation-height: 100vh;

  display: none;

  

  @media (min-width: $breakpoint-desktop) {
    display: block;
    position: fixed;
  }

  .wrapper {
    background-color: transparent;
    height: $navigation-height;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: flex-start;
    padding-top: 20vw;
    width: 10vw;
  }

  .logo {
    left: -140px;
    position: fixed;
    top: -125px;
    z-index: 1000;

    &-image {
      height: 100%;
      width: 450px;
    }
  }

  .blob {
    left: -250px;
    position: fixed;
    top: -250px;
  }

  .logotype {
    color: $black;
    display: block;
    font-family: 'SandroGrottesco', sans-serif;
    font-size: 25px;
    height: 10vw;
    left: 30px;
    letter-spacing: 2px;
    line-height: 1.2;
    position: fixed;
    text-transform: uppercase;
    top: 30px;
    width: 20vw;
    z-index: 1001;
  }

  .menu {
    @include reset-list;
    align-items: flex-start;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1;
    margin-right: 0;
    padding-left: 0;
    z-index: 1106;

    &-item--current {
      .menu-link {
        color: $color-accent;
      }
    }

    &-item {
      height: 5vw;

      .menu-link {
        align-items: center;
        color: $color-text;
        display: flex;
        font-size: 145%;
        font-weight: 400;
        height: 100%;
        justify-content: flex-start;
        margin: 0;
        padding-left: 10px;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s ease-out;
        width: 100%;
  
        &:hover,
        &:focus {
          color: $color-accent;
        }
      }
    }

    &-item:nth-child(odd) {
      border-bottom: 1px solid $color-border;
    }
    
  }
}
